HeadNode: 
  CustomActions: 
    OnNodeConfigured: 
      Script: "s3://S3_BUCKETNAME/install-pwb-config.sh"
  Iam: 
    S3Access: 
      - BucketName: S3_BUCKETNAME
    AdditionalIamPolicies:
      - Policy: arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
  InstanceType: t2.xlarge
  Networking: 
    SubnetId: SUBNETID
  LocalStorage:
    RootVolume:
      Size: 100 
  InternalSharedStorageType: Efs
  Ssh:
    KeyName: michael
Image: 
  Os: ubuntu2004
  CustomAmi: AMI
Region: REGION
Scheduling: 
  Scheduler: slurm
  SlurmSettings:
     EnableMemoryBasedScheduling: true
  SlurmQueues: 
    - Name: all 
      ComputeResources:
        - Name: rstudio 
          InstanceType: c5.24xlarge 
          MaxCount: 10 
          MinCount: 0
          Efa:
            Enabled: FALSE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/config-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: FALSE
        SubnetIds:
          - SUBNETID

    - Name: gpu 
      ComputeResources:
        - Name: large
          InstanceType: p3.16xlarge
          MaxCount: 1
          MinCount: 0
          Efa:
            Enabled: FALSE
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/config-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: FALSE
        SubnetIds: 
          - SUBNETID


LoginNodes:
  Pools:
    - Name: login
      Count: 2 
      InstanceType: t2.xlarge
      Networking:
        AdditionalSecurityGroups: 
          - SECURITYGROUP_RSW
        SubnetIds: 
          - SUBNETID
      Ssh:
        KeyName: michael

DevSettings:
  Timeouts:
    HeadNodeBootstrapTimeout: 5400  # timeout in seconds
    ComputeNodeBootstrapTimeout: 5400  # timeout in seconds

SharedStorage:
  - MountDir: /home
    Name: home
    StorageType: FsxLustre
    FsxLustreSettings:
      StorageCapacity: 1200
      DeploymentType: SCRATCH_2

DirectoryService:
  DomainName: pwb.posit.co
  DomainAddr: ldap://pwb.posit.co
  PasswordSecretArn: arn:aws:secretsmanager:eu-west-1:637485797898:secret:PWBADSecretPWD-pulSGd
  DomainReadOnlyUser: cn=Administrator,cn=Users,dc=pwb,dc=posit,dc=co
  GenerateSshKeysForUsers: true
  AdditionalSssdConfigs: 
    override_homedir : /home/%u
    ldap_id_use_start_tls : false
    ldap_tls_reqcert : never
    ldap_auth_disable_tls_never_use_in_production : true

Tags:
  - Key: rs:environment
    Value: development
  - Key: rs:owner
    Value: michael.mayer@rstudio.com
  - Key: rs:project
    Value: solutions 
