Build:
  InstanceType: g5.2xlarge 
  ParentImage: AMI
  # private-0 | shared
  SubnetId: subnet-08a17fc2026b879b6 
  SecurityGroupIds:
    - sg-01f2cc3bfe3a4c675
  UpdateOsPackages:
    Enabled: true 
  Iam:
    AdditionalIamPolicies:
      - Policy: arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
  Components:
    - Type: script
      Value: s3://BUCKETNAME/image/install-image.sh
  Imds:
    ImdsSupport: v2.0
#DevSettings:
#  Cookbook:
#    ExtraChefAttributes: |
#      {"cluster": {"nvidia": {"enabled": "yes", "kernel-open": "false"}}}
